<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GaleriaServlet</servlet-name>
        <servlet-class>com.controller.GaleriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GaleriaServlet</servlet-name>
        <url-pattern>/GaleriaServlet</url-pattern>
    </servlet-mapping>
    
    <!--Servlet error handler-->
    <servlet>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <servlet-class>ErrorHandlerServlet</servlet-class>
    </servlet>

    <!-- servlet mappings -->
    <servlet-mapping>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <url-pattern>/ErrorHandlerServlet</url-pattern>
    </servlet-mapping>

    <!-- error-code related error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandlerServlet</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/ErrorHandlerServlet</location>
    </error-page>

    <!-- exception-type related error pages -->
    <error-page>
        <exception-type>
            javax.servlet.ServletException
        </exception-type >
        <location>/ErrorHandlerServlet</location>
    </error-page>

    <error-page>
        <exception-type>java.io.IOException</exception-type >
        <location>/ErrorHandlerServlet</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/GaleriaDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
